<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shadyblog.dao.ContentMapper" >
  <resultMap id="BaseResultMap" type="com.shadyblog.pojo.Content" >
    <constructor >
      <idArg column="content_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="article_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="text_md" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="text_html" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    content_id, article_id, text_md, text_html
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from content
    where content_id = #{contentId,jdbcType=INTEGER}
  </select>
  <select id="selectContentByArticleId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from content
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from content
    where content_id = #{contentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shadyblog.pojo.Content" >
    insert into content (article_id, text_md, 
      text_html)
    values (#{articleId,jdbcType=INTEGER}, #{textMd,jdbcType=VARCHAR}, 
      #{textHtml,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shadyblog.pojo.Content" >
    insert into content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="textMd != null" >
        text_md,
      </if>
      <if test="textHtml != null" >
        text_html,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contentId != null" >
        #{contentId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="textMd != null" >
        #{textMd,jdbcType=VARCHAR},
      </if>
      <if test="textHtml != null" >
        #{textHtml,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shadyblog.pojo.Content" >
    update content
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="textMd != null" >
        text_md = #{textMd,jdbcType=VARCHAR},
      </if>
      <if test="textHtml != null" >
        text_html = #{textHtml,jdbcType=VARCHAR},
      </if>
    </set>
    where content_id = #{contentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shadyblog.pojo.Content" >
    update content
    set article_id = #{articleId,jdbcType=INTEGER},
      text_md = #{textMd,jdbcType=VARCHAR},
      text_html = #{textHtml,jdbcType=VARCHAR}
    where content_id = #{contentId,jdbcType=INTEGER}
  </update>
</mapper>