<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shadyblog.dao.KeywordMapper" >
  <resultMap id="BaseResultMap" type="com.shadyblog.pojo.Keyword" >
    <constructor >
      <idArg column="keyword_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="amount" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    keyword_id, name, amount, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
  	<include refid="Base_Column_List" />
    from keyword
     where keyword_id = #{keywordId,jdbcType=INTEGER}
  </select>
  <select id="selectIdByName" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select 
  	keyword_id 
    from keyword 
    where name = #{name ,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
  	<include refid="Base_Column_List" />
    from keyword
    ORDER BY amount DESC
  </select>
  <select id="selectKeywordByKeywordIdList" resultMap="BaseResultMap" >
    select 
  	<include refid="Base_Column_List" />
    from keyword 
    where keyword_id in
    <foreach collection="list" open="(" close=")" separator="," item="keywordId">
    	#{keywordId,jdbcType=INTEGER}
    </foreach>
    ORDER BY amount DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from keyword
    where keyword_id = #{keywordId,jdbcType=INTEGER}
  </delete>
   <delete id="deleteSpareKeywords" >
    delete from keyword
    where amount = 0
  </delete>
  <insert id="insert" parameterType="com.shadyblog.pojo.Keyword" useGeneratedKeys="true" keyProperty="keywordId">
    insert into keyword (name, amount, 
      create_time)
    values (#{name,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shadyblog.pojo.Keyword" >
    insert into keyword
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="keywordId != null" >
        keyword_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="keywordId != null" >
        #{keywordId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shadyblog.pojo.Keyword" >
    update keyword
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where keyword_id = #{keywordId,jdbcType=INTEGER}
  </update>
  <update id="updateAmountByKeywordId" parameterType="java.lang.Integer" >
    update keyword
    set amount = amount + 1 
    where keyword_id = #{keywordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shadyblog.pojo.Keyword" >
    update keyword
    set name = #{name,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where keyword_id = #{keywordId,jdbcType=INTEGER}
  </update>
   <update id="updateReduceAmountByKeywordId">
    update keyword
    set amount = amount - 1 
    where keyword_id in
    <foreach collection="list" open="(" close=")" separator="," item="keywordId">
    	#{keywordId,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>